[user]
	email = rafabene@gmail.com
	name = Rafael Benevides
	signingkey = {{ .chezmoi.homeDir }}/.ssh/github_signing_ed25519
[credential "https://gitlab.com"]
      helper = store
[core]
	quotepath = off
[coderabbit]
	machineId = cli/3c309ed1c91b49b39459d058cfa857af
[gpg]
	format = ssh
[commit]
	gpgsign = true
